/* Input Validation */

/* Selects any invalid <input> */
/* input:invalid {
  background-color: #ffdddd;
}

form:invalid {
  border: 5px solid #ffdddd;
} */

/* Selects any valid <input> */
/* input:valid {
  background-color: #ddffdd;
}

form:valid {
  border: 5px solid #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}

input:required:invalid {
  border-color: #C00000;
} */

/* Selects any invalid <input> */
input:invalid {
  background-color: #ffdddd;
}

* {
  background-color: #0C141F;
}

body {
  color: #FF410DFF;
}

label {
  color: #05DBF2;
}

input {
  border-color: #05AFF2;
}

#submit {
  color: #05DBF2;;
}

/* Color Theme Swatches in Hex */
.Hickson's-fan-coral-1-hex { color: #044BD9; }
.Hickson's-fan-coral-2-hex { color: #0583F2; }
.Hickson's-fan-coral-3-hex { color: #05AFF2; }
.Hickson's-fan-coral-4-hex { color: #05DBF2; }
.Hickson's-fan-coral-5-hex { color: #BF5D39; }
