
* {
  background-color: #0C141F;
}

body {
    color: #F21428;
}

label {
  color: #F14502;
}

input {
  border-color: #05AFF2;
}

#submit {
  color: #05DBF2;
}

#name, #email, #numbder, #dropdown {
  background-color: #071124;
  color: #E28A13;
}

/* Input Validation */

#name:valid, #email:valid, #number:valid {
  background-color: #63E3FF;
  color: #071124;
  font-weight: bold;
}

#name:invalid, #email:invalid, #number:invalid {
  background-color: #2b060a;
  color: #a9a9a9;
  font-weight: bold;
}

input:required:invalid {
  border-color: #C00000;
}

/* form:invalid {
  border: 2px solid #F21428;
  width: fit-content;
} */

form fieldset {
  width: 50%;
}

textarea {
  color: #E28A13;
}


/* Color References */

/* Color Theme Swatches in Hex */
.Hickson's-fan-coral-1-hex { color: #044BD9; }
.Hickson's-fan-coral-2-hex { color: #0583F2; }
.Hickson's-fan-coral-3-hex { color: #05AFF2; }
.Hickson's-fan-coral-4-hex { color: #05DBF2; }
.Hickson's-fan-coral-5-hex { color: #BF5D39; }

/* Color Theme Swatches in Hex */
.Tron-1-1-hex { color: #63E3FF; }
.Tron-1-2-hex { color: #071124; }
.Tron-1-3-hex { color: #E28A13; }
.Tron-1-4-hex { color: #F14502; }
.Tron-1-5-hex { color: #F21428; }
