
* {
  background-color: #0C141F;
  font-size: 1.05rem;
}

/* Content */

body {
  display: flex;
  justify-content: center;
  color: #F21428;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #F14502;
}

input {
  border-color: #05AFF2;
}

form fieldset {
  width: fit-content;
}

legend {
  font-size: 1.1rem;
}

#name, #email, #numbder, #dropdown {
  background-color: #071124;
  color: #E28A13;
}

#number {
  width: 25rem;
}

#drop-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkboxes {
  display: flex;
}

#comments {
  color: #E28A13;
  background-color: #0C141F;
}

#submit {
  color: #05DBF2;
  background-color: #0C141F;
}

/* Input Validation */

#name:valid, #email:valid, #number:valid {
  background-color: #071124;
  color: #63E3FF;
  font-weight: bold;
}

#name:invalid, #email:invalid, #number:invalid {
  background-color: #2b060a;
  color: #a9a9a9;
  font-weight: bold;
}

input:required:invalid {
  border-color: #C00000;
}


/* Color References */

/* Color Theme Swatches in Hex */
.Hickson's-fan-coral-1-hex { color: #044BD9; }
.Hickson's-fan-coral-2-hex { color: #0583F2; }
.Hickson's-fan-coral-3-hex { color: #05AFF2; }
.Hickson's-fan-coral-4-hex { color: #05DBF2; }
.Hickson's-fan-coral-5-hex { color: #BF5D39; }

/* Color Theme Swatches in Hex */
.Tron-1-1-hex { color: #63E3FF; }
.Tron-1-2-hex { color: #071124; }
.Tron-1-3-hex { color: #E28A13; }
.Tron-1-4-hex { color: #F14502; }
.Tron-1-5-hex { color: #F21428; }
